.checkoutItem {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkoutItem_image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutItem_info {
  padding-left: 20px;
}

.checkoutItem_info_button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
}

.checkoutItem_rating{
  display: flex;
}

.checkoutItem_info_title {
  font-size: 17px;
  font-weight: 800px;
  text-align: left;
}

.checkoutItem_info_price {
  text-align: left;
}
